<span class="icon-container">
  <svg class="icon-battery">
    <use href="/src/images/sprite.svg#icon-battery"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon-bluetooth">
    <use href="/src/images/sprite.svg#icon-bluetooth"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon-compatible">
    <use href="/src/images/sprite.svg#icon-compatible"></use>
  </svg>
</span>
<span class="icon-container">
  <svg class="icon-light">
    <use href="/src/images/sprite.svg#icon-light"></use>
  </svg>
</span>
<svg class="icon-logo">
  <use href="/src/images/sprite.svg#logo"></use>
</svg>
